body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 40px;
    font-family: monospace, sans-serif;
    background: rgb(44, 44, 44);
    padding: 20px;
    margin: 0;
    color: white;
}

body.darkmode {
    background: rgb(193, 193, 193);
    color: rgb(22, 22, 22);
}

body::before, body::after {
    content: "";
    position: absolute;
    border-radius: 50%;
}

body::before {
    width: 150px;
    height: 150px;
    left: 40vmin;
    filter: blur(200px);
    background: red;
}

body::after {
    width: 300px;
    height: 300px;
    right: 40vmin;
    bottom: 100px;
    z-index: -1;
    filter: blur(250px);
    background: blue;
}

@media (max-width: 600px){
    body {
        padding: 0;
    }
}

section {
    position: relative;
    width: 500px;
    margin: 0 auto;
    background: rgb(27, 27, 27);
    height: 93vh;
    border-radius: 20px;
    overflow: hidden;
    -webkit-box-shadow: 0px 10px 79px -23px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 79px -23px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 79px -23px rgba(0,0,0,0.75);
}

section.documentation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    padding: 10px;
}

section.documentation h1 {
    text-align: center;
    font-size: 2rem;
}

section.documentation h2 {
    padding: 0;
    margin: 0;
}

@media (max-width: 376px){
    section.documentation h1 {
        font-size: 1.2rem;
    }

    section.documentation h2 {
        font-size: 1rem;
    }
}

section#calculator-1,
section#calculator-2 {
    display: grid;
    grid-template-rows: 1fr max-content;
}

body.darkmode section {
    background: #fff;   
}

@media (max-width: 600px){
    section#calculator-1,
    section#calculator-2 {
        grid-template-rows: 1fr 1fr;
    }
    section#calculator-1,
    section#calculator-2,
    section.documentation {
        height: 100vh;
        border-radius: 0px;
        width: 100%;
    }
}

.mode {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

@media (max-width: 600px){
    .mode {
        width: 40px;
        height: 40px;
        top: 2%;
        left: 2%;
    }
    
}

.operasi-hasil {
    align-self: end;
    text-align: right;
    padding: 20px 40px;
    font-size: 2rem;
}

@media (max-width: 600px){
    .operasi-hasil {
        padding: 20px;
    }
}

.hasil {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

sup {
    font-size: 1rem;
    color: rgb(216, 230, 17);
}

body.darkmode sup {
    color: rgb(35, 151, 37);
}

.input-user {
    background-color: #222;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

body.darkmode .input-user {
    background-color: rgb(229, 229, 229);
}

.grid-col-4 {
    display: grid;
    grid-template-columns: repeat(4, minmax(40px, 80px));
    justify-content: center;
    gap: 10px;
}

.grid-col-4 > * {
    text-align: center;
    background-color: rgb(24, 24, 24);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: all 200ms;
    user-select: none;
    font-weight: bold;
}

body.darkmode .grid-col-4 > * {
    background-color: rgb(206, 206, 206);
}

.grid-col-4 > *:hover {
    background-color: rgb(21, 26, 33);
}

body.darkmode .grid-col-4 > *:hover {
    background-color: rgb(185, 185, 185);
}

.text-lg {
    font-size: 1.5rem;
}

.text-xl {
    font-size: 2rem;
}

.span-2 {
    grid-column: span 2;
}

.clear {
    color: rgb(230, 17, 53);
}

body.darkmode .clear {
    color: rgb(187, 15, 43);
}

.text-blue {
    color: rgb(33, 173, 228);
}

body.darkmode .text-blue {
    color: rgb(28, 26, 152);
}

.text-yellow {
    color: rgb(216, 230, 17);
}

body.darkmode .text-yellow {
    color: rgb(35, 151, 37);
}

.flex {
    display: flex;
    column-gap: 20px;
}

.flex-end {
    justify-content: end;
}

.flex-col {
    flex-direction: column;
}

.text-2xl {
    font-size: 3rem;
}

@media (max-width: 376px){
    .operasi-hasil {
        padding: 20px;
    }

    .operasi > *, .operasi .text-lg {
        font-size: 1rem;
    }

    #days {
        font-size: 1.5rem;
    }
}

.text-purple {
    color: rgb(106, 39, 193);
}

.span-3 {
    grid-column: span 3;
}

input[type="text"]{
    font-family: monospace, sans-serif;
    font-size: 1rem;
    color: #fff;
    border: none;
}

body.darkmode input[type="text"]{
    color: #333;
}

input[type="text"]:hover{
    background-color: rgb(24, 24, 24);
}

body.darkmode input[type="text"]:hover{
    background-color: rgb(201, 201, 201);
}

.checkbox {
    position: relative;
    overflow: hidden;
}

.checkbox span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.checkbox input {
    position: absolute;
    inset: 0;
    appearance: none;
    cursor: pointer;
}

.checkbox input:checked ~ span {
    background-color: #a350f1;
    color: #eaeaea;
}

.hidden {
    display: none;
}

#months {
    text-align: left;
}

.items-center {
    align-items: center;
}
